/* Full page background */
body {
    background-color: #000000;
    background-image: url('Artboard 1.png');
    background-repeat: no-repeat;
    background-size: 80% 250px;
    background-position: center;
    color: #FFFFFF; /* Default text color */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

/* Link colors */
a {
    color: #FFFFFF; /* Link color */
    text-decoration: none;
}

/* Changes text color and adds underline on mouse hover */
a:hover {
    color: #005bb5;
    text-decoration: underline;
}

/* Heading styles */
h1 {
    color: #FFFFFF; /* Heading color */
    font-size: 36px;
    margin: 24px 0 8px;
}
h2 {
    color: #FFFFFF; /* Subheading color */
    font-size: 28px;
    margin: 16px 0 8px;
}
            
